<div id = "principal-container">
    <header>
        <div class = "head-containers">
            <img src="/images/logoClinica.png" >
            <h1>Clínica Médica Avellaneda</h1>
        </div>
        <div class = "head-containers login-register">
            <button (click) = "goTo('welcome')">INICIO</button>
            <button (click) = "goTo('register')">REGISTRARSE</button>
            <button (click) = "goTo('login')">INICIAR SESIÓN</button>
        </div>
    </header>
    <section>
      
        <p>Bienvenido a<br>Clínica Médica Avellaneda<br>➕🩺🏨</p>
    </section>
</div>
