<div id = "principal-container">
    <header>
        <div class = "head-containers">
            <img src="/images/logoClinica.png" >
            <h1>Clínica Online</h1>
        </div>
        <div class = "head-containers login-register">
            <button (click) = "goTo('welcome')">INICIO</button>
            <button (click) = "goTo('register')">REGISTRARSE</button>
            <button (click) = "goTo('login')">INICIAR SESIÓN</button>
        </div>
    </header>
    <section>
     <form [formGroup]="registerForm" (ngSubmit)="checkFormAndShowCaptcha()">

  <div>
    <button type="button"(click)="showSpecialities=false; optionsLogins='PACIENTE'" [class.active]="!showSpecialities"><img class = "img-profiles"src = "/images/patientIcon.png"></button>
    <button type="button"(click)="showSpecialities=true; optionsLogins='ESPECIALISTA'" [class.active]="showSpecialities"><img class = "img-profiles img-profiles-specialist"src = "/images/specialistIcon.png"></button>
  </div>

  <div>
    <button type="button" (click)="openInput()">
      <img *ngIf="imagesPreview.length == 0" src="/images/imagenUsuario.png" class="img-user">
      <img *ngIf="imagesPreview.length > 0" [src]="imagesPreview[0]" class="img-user">
    </button>
    <button *ngIf="imagesPreview.length > 0" type="button" (click)="showPhotos = true">Ver imágenes</button>
    <p *ngIf="imagesPreview.length == 0">Subir foto de perfil.</p>
  </div>

  <div>
    <input type="text" class="inputs-form shorts-inputs" placeholder="Nombre" formControlName="nameUser" autocomplete="off">
    <input type="text" class="inputs-form shorts-inputs" placeholder="Apellido" formControlName="lastNameUser" autocomplete="off">
    <input type="number" class="inputs-form shorts-inputs" placeholder="Edad" formControlName="ageUser" autocomplete="off">
  </div>

  <div>
    <input type="number" class="inputs-form shorts-inputs" placeholder="N° de documento" formControlName="documentUser" autocomplete="off">
    <input type="text" class="inputs-form shorts-inputs" placeholder="Correo electrónico" formControlName="emailUser" autocomplete="off">
    <input type="password" class="inputs-form shorts-inputs" placeholder="Contraseña" formControlName="passwordUser" autocomplete="off">
  </div>

  <div>
    <input *ngIf="!showSpecialities" type="text" class="inputs-form shorts-inputs" placeholder="Obra social" formControlName="socialWorkUser" autocomplete="off">

    <div class="select-wrapper" *ngIf="showSpecialities">
      <select formControlName="selectSpeciality">
        <option value="" disabled selected>Elegir especialidad</option>
        <option value="Clínica médica">Clínica médica</option>
        <option value="Cardiología">Cardiología</option>
        <option value="Cirugía General">Cirugía General</option>
        <option value="Ginecología">Ginecología</option>
        <option value="Pediatría">Pediatría</option>
        <option value="Dermatología">Dermatología</option>
        <option value="Neurología">Neurología</option>
        <option value="Traumatología">Traumatología</option>
        <option value="Otorrinolaringología">Otorrinolaringología</option>
      </select>

      <div class="div-add-speciality">
        <input *ngIf="optionsLogins == 'ESPECIALISTA'" type="text" class="inputs-form shorts-inputs" placeholder="Agregar especialidad" formControlName="specilityAdded" autocomplete="off">
        <button type="button" class="btn-add-speciality" (click)="addSpeciality()">Agregar</button>
      </div>
    </div>

    <input type="file" id="input-file" hidden (change)="onFileSelected($event)" multiple>
  </div>

  <div>
    <button type="submit" (click)="checkFormAndShowCaptcha()">REGISTRARSE</button>
  </div>

  <div *ngIf="showPhotos">
    <div>
      <img [src]="imagesPreview[0]">
      <img [src]="imagesPreview[1]" *ngIf="imagesPreview.length > 1">
    </div>
    <button type="button" (click)="showPhotos = false">Aceptar</button>
    <button type="button" (click)="imagesPreview.length = 0; showPhotos = false">Cancelar</button>
  </div>

</form>
        <div class="captcha-container" *ngIf="showCaptcha">
        <p>Por favor, completa el captcha antes de registrarte:</p>

        <re-captcha
            siteKey="6Lfg2_krAAAAAHWEz3N-31maoySEhrdGfSMg7Ym1"
            (resolved)="onCaptchaResolved($any($event))">
        </re-captcha>

        <button type="button" (click)="onSubmitCaptcha()">Enviar captcha</button>
        </div>
    </section>
</div>