#principal-container
{
    height: 100vh;
    overflow-y: hidden;
}

header
{
    height: 90px;
    border-radius: 10px;
    box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.4);
    display: flex;
    background-color: #F4F3F3;
}

.head-containers
{
   
    width: 50%;
    height: 100%;
    display: flex;
   
}

h1
{
    font-size: 40px;
    margin: 23px 20px;
    color: #47A4A0;
}


.head-containers img
{
    height: 100%;
}

.login-register
{
   
    justify-content: space-evenly;
}

.login-register button
{
    font-family: 'Roboto', sans-serif;
    width: 250px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: #1F2937;
    cursor: pointer;
    
}

.login-register button:hover
{
    color: #47A4A0;
}




#options-speciality-container
{
    
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, padding 0.5s ease;


}



.option-select
{
    text-align: center;
    width: 250px;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    background-color: #005B79;
    color: lightblue;
    border: none;
    height: 55px;
    padding: 10px;
}

.option-speciality-select
{
    width: 250px;
    font-size: 30px;
    background-color: #005B79;
    height: 55px;
    color: lightblue;
    border: none;
    
}



#options-speciality-container.visible {
  max-height: 500px; 
}

#p-speciality
{
    margin: 0;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
}



form
{
    height: 600px;
    width: 1200px;
    background-color: #1F2937;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
  box-shadow: 0px 5px 25px 6px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 25px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 25px 6px rgba(0,0,0,0.75);
}
#container-form-inputs
{
    
    display: flex;
    justify-content: space-evenly;
    
    width: 80%;
}

.inputs-form:focus
{
    outline: none;
}

.inputs-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#first-container-form
{
    display: flex; 
    width: 100%; 
    height: 80%;
}

#second-container-form
{
    display: flex; 
    flex-direction: column; 
    justify-self: center; 
    align-items: center; 
    width: 30%; 
    margin-right: 15px;
}

#third-container-form
{
    display: flex;
    justify-content: center;
}

.inputs-form
{
    height: 50px;
    
    width: 350px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    color: #1F2937;
}

label
{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

#btn-register
{
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: lightblue;
    font-size: 25px;
    background-color: #005B79;
    width: 450px;
    height: 55px;
    border: none;
}

select
{
    height: 52px;
    width: 363px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 20px;
    color: #1F2937;
}

select:focus
{
    outline: none;
}


#input-add-speciality
{
    position: absolute;
    bottom: 160px;
    left: 120px;
    width: 600px;
}
#label-add-speciality
{
    margin-left: 75px;
}

#btn-input-file
{
   font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: lightblue;
    font-size: 25px;
    background-color: #005B79;
    width: 200px;
    height: 55px;
    border: none;
    margin-top: 20px;
}

button
{
    cursor: pointer;
}

#btn-input-file:hover
{
    color: #F4F3F3;
}

.option-speciality-select:hover
{
    color: #F4F3F3;
}

.option-select:hover
{
    color: #F4F3F3;
}

#btn-register:hover
{
    color: #F4F3F3;
}

.captcha-container {

    height: 300px;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    background-color: #1F2937;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#input-captcha{
  padding: 8px;
  width: 90%;
  height: 13%;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin: 10px 0;
}

input:focus
{
    outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
}