<div id = "principal-container">
    <div id ="dark-opacity" *ngIf = "showActionSpecialist">

    </div>
    <button (click) = "showContainer('filters')">
        FILTRAR
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
        </svg>
    </button>

    <div id = "filters-container"  [ngClass]="{'specialistActions': showActionSpecialist}" *ngIf = "showFilters">

        <div id = "btn-specialities-container">
            <p>Filtrar por especialidad:</p>
            <button *ngFor = "let speciality of specialityFilters" (click) = "filterSpecialities(speciality);" class="btn-filter"  [class.selected]="filterSpecialitySelected === speciality">{{speciality}}</button>
        </div>
        <div id = "btn-specialists-container" >
            <p>Filtrar por paciente:</p>
            <button *ngFor = "let patient of patiensFilters" (click) = "filterPatient(patient);" class="btn-filter"  [class.selected]="filterPatientSelected === patient">{{patient}}</button>
        </div>
        <div id = "btn-specialists-container" >
            <p>Filtrar por día:</p>
            <button *ngFor = "let patient of dateFilters" (click) = "filterDate(patient);" class="btn-filter"  [class.selected]="filterPatientSelected === patient">{{patient}}</button>
        </div><div id = "btn-specialists-container" >
            <p>Filtrar por horario:</p>
            <button *ngFor = "let patient of hourFilters" (click) = "filterHour(patient);" class="btn-filter"  [class.selected]="filterPatientSelected === patient">{{patient}}</button>
        </div><div id = "btn-specialists-container" >
            <p>Filtrar por estado:</p>
            <button *ngFor = "let patient of stateFilters" (click) = "filterState(patient);" class="btn-filter"  [class.selected]="filterPatientSelected === patient">{{patient}}</button>
        </div>
        
    </div>
    <div id = "patients-shifts-container"> 
       
        <table>
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Día</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let appointment of appointmentsFiltered" >
                      
                            <td><img [src]="appointment.patient.imagesUser[0]" ></td>
                            <td data-label="Nombre">{{ appointment.patient.nameUser }}</td>
                            <td data-label="Apellido" >{{ appointment.patient.lastnameUser }}</td>
                            <td data-label="Especialidad">{{ appointment.specialityType }}</td>
                            <td data-label="Día">{{ appointment.date}}</td>
                            <td data-label="Horario">{{ appointment.hour}}</td>
                            <td data-label="Estado">{{ appointment.state}}</td>
                            <td><button class="btn-action-specialist" (click) = "patientSelected = appointment; showContainer('actions')">Ver detalles</button></td>
                    </tr>
                </tbody>
            </table>

            <div id = "specialist-action-container" *ngIf = "showActionSpecialist">
                    <div>
                        <img src="" alt="">
                        <span>Paciente: {{patientSelected.patient.nameUser}} {{patientSelected.patient.lastNameUser}}</span>
                    
                        <span>Especialidad: {{patientSelected.specialityType}}</span>
                        <span>Horario: {{patientSelected.hour}}</span>
                        <span>Día: {{patientSelected.date}}</span>
                    </div>
                    <div>
                        <button class="btn-action-specialist" (click) = "stateAppointmentSelected = 'Aceptado'; changeStateAppointment()" *ngIf = "patientSelected.state != 'Rechazado' && patientSelected.state != 'Realizado' && patientSelected.state != 'Cancelado' && patientSelected.state != 'Realizado' && patientSelected.state != 'Aceptado'">Aceptar turno</button>
                        <button class="btn-action-specialist" (click) = "showContainer('reviewSpecialist'); stateAppointmentSelected = 'Rechazado'" *ngIf = "patientSelected.state != 'Aceptado' && patientSelected.state != 'Realizado' && patientSelected.state != 'Cancelado' && patientSelected.state != 'Realizado' && patientSelected.state != 'Rechazado'">Rechazar turno</button>
                        <button class="btn-action-specialist" (click) = "showContainer('reviewSpecialist'); stateAppointmentSelected = 'Cancelado'" *ngIf = "patientSelected.state != 'Aceptado' && patientSelected.state != 'Realizado' && patientSelected.state != 'Rechazado' && patientSelected.state != 'Realizado' && patientSelected.state != 'Cancelado'">Cancelar turno</button>
                        <button class="btn-action-specialist" (click) = "showContainer('reviewSpecialist'); stateAppointmentSelected = 'Realizado'" *ngIf = "patientSelected.state == 'Aceptado'">Finalizar turno</button>
                        <button class="btn-action-specialist" (click) = "showContainer('reviewSpecialist')" *ngIf = "patientSelected.specialistReview != ''">Ver reseña</button>
                        <button class="btn-action-specialist" (click) = "showContainer('medicalHistory')" *ngIf = "patientSelected.state == 'Realizado' && !patientSelected.medicalHistory">Historia clínica</button>               
                        <button class="btn-action-specialist" (click) = "showContainer('reviewPatient')" *ngIf = "patientSelected.patientReview != ''">Ver comentario</button>
                        <button class="btn-action-specialist" (click) = "showContainer('actions')">Cerrar</button>
                    </div>

            </div>
            <div id = "review-container" *ngIf = "showReviewSpecialist">
                <div>
                    <button (click) = "showContainer('reviewSpecialist')">X</button>
                </div>
                <div>
                    <textarea placeholder="Su comentario..." [(ngModel)] = "review">{{patientSelected.specialistReview}}</textarea>
                    <button (click) = "sendReview()" *ngIf = "patientSelected.specialistReview == ''">Enviar</button>
                </div>
            </div>
            <div id = "review-container" *ngIf = "showReviewPatient">
                <div>
                    <button (click) = "showContainer('reviewPatient')">X</button>
                </div>
                <div>
                    <textarea placeholder="Su comentario..." [(ngModel)] = "review">{{patientSelected.patientReview}}</textarea>
                </div>
            </div>
            <div id = "medical-history-container" *ngIf = "showMedicalHistory">
                <h3>Historia clínica</h3>

                <div>
                    <label for="Altura">Altura
                        <input type="text" placeholder="Altura" name = "altura" [(ngModel)] = "patientHeight">
                    </label>
                    <label for="">Peso
                        <input type="text" placeholder="Peso" name = "peso" [(ngModel)] = "patientWeight">
                    </label>
                </div>
                 <div>
                     <label for="">Temperatura
                        <input type="text" placeholder="Temperatura" name = "temperatura" [(ngModel)] ="patientTemperature">
                    </label>
                    <label for="">Presión
                        <input type="text" placeholder="Presión" name = "presion" [(ngModel)] = "patientPressure">
                    </label>
                </div>
                <h3>Datos adicionales</h3>
               <div>
                <label for="">
                    <input type="text" placeholder="Clave" name = "keyData1" [(ngModel)] = "patientAdditionalData1">
                </label>
                
                <label for="">
                    <input type="text" placeholder="Valor" name = "valueData1" [(ngModel)] = "valueAdditionalData1">
                </label>
               </div>
                <div>
                <label for="">
                    <input type="text" placeholder="Clave" name = "keyData2" [(ngModel)] = "patientAdditionalData2">
                </label>
                <label for="">
                    <input type="text" placeholder="Valor" name = "valueData2" [(ngModel)] = "valueAdditionalData2">
                </label>
                </div>
                <div>
                <label for="">
                    <input type="text" placeholder="Clave" name = "keyData3" [(ngModel)] = "patientAdditionalData3">
                </label>
                <label for="">
                    <input type="text" placeholder="Valor" name = "valueData3" [(ngModel)] = "valueAdditionalData3">
                </label>
                </div>
                
                <button (click) = "sendMedicalHistory()">Enviar</button>
                <button (click) = "showMedicalHistory = false">Cancelar</button>
            </div>
    </div>
</div>
