#principal-container
{
    margin: 0 auto;
    height: 87%;
    width: 70%;
    display: flex;
    
    align-items: center;

    flex-direction: column;
}
.p-title-review
{
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    color: #1F2937;
}



#filters-container
{
    
  
    width: 100%;
    height: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    background-color: rgb(255, 255, 255,0.8);
    border: 2px solid #1F2937;
    animation: showFilter 200ms ease forwards;
    overflow-y: auto;
    font-size: clamp(0.8rem, 1vw, 3rem);
    border-radius: 5px;
    padding: 0 16px 0 0;
    gap: 16px;
}

.input-filter-container
{
    width: 45%;
    background-color: white;
    border: 2px solid #1F2937;
    border-radius: 10px;
    height: 45px;
    padding: 4px;
    margin: 2%;
    position: relative;
    min-width: 500px;

}

.input-filter-container input
{
    width: 95%;
    border: none;
    border-radius: 10px;
    height: 93%;
    padding-left: 10px;
    font-size: clamp(0.95em, 0.95vw, 3rem);
    
}

.input-filter-container img
{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

input:focus
{
    outline: none;
}

.btn-specialists-container > p
{
    margin: 32px 0;
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: bold;
    letter-spacing: 2px;
    color: #1F2937;
}
.btn-specialists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  width: 100%;
  
  min-height: auto;
}

td > img
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: contain;
    background-color: white;
}
.btn-filters-container
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;


    width: 100%;
}

#patients-shifts-container
{
    
    background-color: rgb(255, 255, 255,0.8);
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
    border: 2px solid #1F2937;
    border-radius: 10px;
    overflow-y: auto;
}


#principal-container > button
{
    background-color: #1F2937;
    border-radius: 10px;
    text-align: center;
     width: 75%;
    margin: 20px auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    font-size: clamp(1rem, 1vw, 3rem);
    color: white;
   
    transition: background 500ms ease;
}


#principal-container > button:hover
{
    background-color: #2d3f58;

}




svg{
    height: 60px;
    width: 60px;
    cursor: pointer;

}


.btn-filter
{
   
    padding: 0 16px;
    min-height: 70px;
    min-width: 200px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    border: 2px solid #1F2937;
    margin: 0 16px;
    color: #1F2937;
    font-size: clamp(1rem, 1vw, 3rem);
    margin: 10px;
}

button
{
    cursor: pointer;
}

#btn-specialities-container
{
    
        width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

#btn-specialists-container
{
        width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}




table
{


    background-color: #F4F4F3;
 
    padding: 1%;
    width: 100%;
    

}

th, td
{
    padding: 10px;
    border: 1px solid #1F2937;
    border-radius: 5px;
    color: #1F2937;
    text-align: center;
    background-color: 	white ;
     font-size: clamp(1rem, 1vw, 1.5rem);
    
}



button{
    border: none;
}
#specialist-action-container > div:first-child > button:nth-child(1)
{
    height:55px;
    width:55px;
    border-radius: 50%;
    position: absolute;
    margin: 16px;
    left: 0;
    top: 0;
    border: 2px solid #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-little
{
    font-size: 22px;

    color: #1F2937;
}

.span-big
{
    font-size: clamp(2.5rem, 3vw, 2.5rem);
    color: #1F2937;
    letter-spacing: 2px;
    font-weight: bold;
}
.img-patient
{
    border-radius: 50%;


    height: 120px;
    width: 120px;
    background-color: transparent;
    object-fit: contain;
}


#specialist-action-container
{
    position: absolute;
    min-width: 400px;
    
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    transform-origin: right top;
    transform: scaleX(0);
    z-index: 999999;
    background-color: #F4F4F3;

    animation: showContainer 300ms ease forwards;
    padding: 10px;
}
.arrow-img
{
    border-radius: 50%;


    height: 60px;
    width: 60px;
    background-color: transparent;
    rotate: 180deg;
    object-fit: contain;
}
div span
{
font-size: clamp(1.2rem, 1.5vw, 1.4rem);
    
}

#specialist-action-container > div:last-child
{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 40%;
    
}

#specialist-action-container > div:first-child
{
    position: relative;
    gap: 16px;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.btn-action-specialist:hover
{
    font-weight: bold;
    border-bottom: 3px solid #1F2937;
}
.btn-action-specialist
{
    width: 90%;

    color: #1F2937;

    height: auto;
    padding: 20px;
    font-size: clamp(1rem, 1.3vw, 2rem);
    background-color: transparent;
    border-bottom: 2px solid #1F2937;
    transition: background 300ms ease-in;
  
}





tr button
{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    
}

@keyframes showContainer {
    to {
        transform: scaleX(1);
    }
}

@keyframes  showFilter {
    to {
        transform: scaleY(1);
    }
}


    

#dark-opacity
{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    
    z-index: 1;
}

.btn-action-patient
{
    width: 100%;
    margin: 0 auto;
    color: #E0E0DF;
    border-radius: 10px;
    height: auto;
    padding: 20px;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    background-color: #1F2937;
    transition: background 100ms ease-in;
  
}

.btn-action-patient:hover
{
    background-color: #36475e;
}


#review-container
{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 9999999;
    border: 2px solid #1F2937;
}

#review-container > div:first-child
{
    height: 10%;
    display: flex;
    justify-content: end;
   
}

#review-container > div:first-child button
{
    height: 50px;
    width: 50px;
    font-size: 25px;
    background-color: transparent;
    color: grey;
    font-weight: bold;
    
}

#review-container>div:last-child
{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#review-container>div:last-child button
{
    height: 70px;
    width: 200px;
    border-radius: 10px;
    background-color: #1F2937;
    color: #F4F4F3;
    font-size:  clamp(1.5rem, 1vw, 3rem);;

}

#review-container>div:last-child textarea
{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
    padding-bottom: 100px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size:  clamp(1.5rem, 1vw, 3rem);
    color: #1F2937;
}

.btn-filter.selected
{
    background-color: #354a67;
    color: white;
    font-weight: bold;
}

.btn-filter:hover
{
    background-color: #354a67;

    color: white;
}


@media (max-width: 768px) {
  table, thead, tbody, th, tr {
    display: block;
    width: 95%;
     min-width: 200px;
     background-color: transparent;
  }

    #filters-container
    {
        width: 300px;
    }

  thead {
    display: none; /* ocultar cabeceras */
  }

  tr {
    background: #fff;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 0.8rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }


  td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 0.5rem;
    color: #555;
  }
}

#medical-history-container
{
    height: 600px;
   width: 700px;
    background-color: white;
    border: 2px solid #1F2937;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    color: #1F2937;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999999999999;
}

#medical-history-container label input
{
    border-radius: 10px;
    border: 2px solid #2d3f58;
    height: 30px;
    width: 90%;
    padding: 10px;
}

#medical-history-container div
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

#medical-history-container div label input
{
    width: 80%;
    margin-top: 5px;
    font-size: 19px;
}

#medical-history-container label
{
    width: 100%;
  
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}


#medical-history-container button
{
    height: 3rem;
    width: 70%;
    border-radius: 10px;
    background-color: #1F2937;
    color: white;
    font-size:  clamp(1.5rem, 1vw, 3rem);;
}


#medical-history-container h3
{
    margin: 0;
}

#medical-history-container h3:first-child
{
    font-size: 30px;
}