<div id = "principal-container">
     <div id ="dark-opacity" *ngIf = "showDetails">

    </div>

    <div class  = "input-filter-container">
        <input placeholder="Buscar por nombre, apellido, especialidad, día, horario o estado..." [(ngModel)] = "filterValue"(ngModelChange)="filterAppointments()">
        <img src = "/images/searchIcon.png"> 
    </div>
    
    <div id = "patients-shifts-container" *ngIf = "!showFilters"> 
        
        <table>
                <thead>
                    <tr>
                        <th>Especialista</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Especialidad</th>
                        <th>Día</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th>Detalles</th>

                    </tr>
                </thead>
               <tbody>
                <tr *ngFor="let appointment of appointmentsFiltered">
                    <td data-label="Especialista">
                    <img [src]="appointment.specialist.imageSelected">
                    </td>
                    <td data-label="Nombre">{{ appointment.specialist.nameUser }}</td>
                    <td data-label="Apellido">{{ appointment.specialist.lastnameUser }}</td>
                    <td data-label="Especialidad">{{ appointment.speciality }}</td>
                    <td data-label="Día">{{ appointment.date }}</td>
                    <td data-label="Horario">{{ appointment.hour }}</td>
                    <td data-label="Estado">{{ appointment.state }}</td>
                     <td><button class="btn-action-patient" (click) = "appointmentSelected = appointment; showContainer('details')">Ver detalles</button></td>
                </tr>
                </tbody>
            </table>
    </div>
    <div id = "specialist-action-container" *ngIf = "showDetails">
                <div>
                     <button (click)="showDetails = false">
                        <img class="arrow-img" src="/images/backArrow.png">
                    </button>
                    <img [src]="appointmentSelected.specialist.imageSelected" alt="">
                    <span class = "span-big">Especialista:<br>{{appointmentSelected.specialist.nameUser}} {{appointmentSelected.specialist.lastnameUser}}</span>
                    <span class = "span-big">Especialidad:<br>{{appointmentSelected.speciality}}</span>
                    <span class = "span-big">Estado:<br>{{appointmentSelected.state}}</span>
                    <span class = "span-little">Horario: {{appointmentSelected.hour}}</span>
                    <span class = "span-little">Día: {{appointmentSelected.date}}</span>
                </div>
                <div>
                    <button class="btn-action-specialist" (click) = "showContainer('reviewPatient'); stateAppointmentSelected = 'Cancelado'; titleReview = 'Deja un mensaje del por qué cancelas el turno.'" *ngIf = "appointmentSelected.state != 'Realizado' && appointmentSelected.state != 'Cancelado' && appointmentSelected.state != 'Rechazado'">Cancelar turno</button>
                    <button class="btn-action-specialist" (click) = "showContainer('reviewPatient'); stateAppointmentSelected = 'Realizado'; titleReview = 'Deja un comentario de cómo fue tu experiencia.'" *ngIf = "appointmentSelected.state == 'Realizado' && appointmentSelected.patientReview == ''">Calificar atención</button>
                    <button class="btn-action-specialist" (click) = "showContainer('review')" *ngIf = "appointmentSelected.state == 'Realizado';">Completar encuesta</button>
                    <button class="btn-action-specialist" (click) = "showContainer('reviewSpecialist'); review = appointmentSelected.specialistReview; titleReview = 'Reseña del especialista.'" *ngIf = "appointmentSelected.specialistReview != ''">Ver reseña de especialista</button>
                    <button class="btn-action-specialist" (click) = "showContainer('reviewPatient'); review = appointmentSelected.patientReview; titleReview = 'Su reseña.'" *ngIf = "appointmentSelected.patientReview != ''">Ver mi reseña</button>

                </div>

    </div>

       <div id = "review-container" *ngIf = "showReviewPatient">
                <div>
                    <button (click) = "showContainer('reviewPatient')">X</button>
                </div>
                <div>
                    <p class = "p-title-review">{{titleReview}}</p>
                    <textarea placeholder="Su comentario..." [(ngModel)] = "review">{{appointmentSelected.patientReview}}</textarea>
                    <button (click) = "sendReview()" *ngIf = "appointmentSelected.patientReview == ''">Enviar</button>
                </div>
        </div>
        <div id = "review-container" *ngIf = "showReviewSpecialist">
                <div>
                    <button (click) = "showContainer('reviewSpecialist')">X</button>
                </div>
                <div>
                    <p class = "p-title-review">{{titleReview}}</p>
                    <textarea placeholder="Su comentario..." [(ngModel)] = "review" readonly>{{appointmentSelected.specialistReview}}</textarea>                  
                </div>
        </div>
       
</div>
