<div id = "principal-container" >
  <header *ngIf = "userLogged">
        <div class = "head-containers">
            <img src="/images/logoClinica.png" >
            <h1>Clínica Online</h1>
            <button (click) = "showAside = true" *ngIf = "showAside == false">|||</button>
        </div>
    </header>
    
    <main [@routeAnimations]="prepareRoute(outlet)">
      <aside [class.active]="showAside" *ngIf="userLogged">
    <button (click)="showAside = false">
        <img class="arrow-img" src="/images/backArrow.png">
    </button>
        <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
        <a routerLink="mi-perfil">
            <img class="img-user" [src]="userLogged.imageSelected">
        </a>
        <p>Perfil</p>
        </button>
        <ng-container *appPermisosUsuario="'Paciente'">
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="mis-turnos-paciente">MIS TURNOS</a>
            </button>
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="solicitar-turno">SOLICITAR TURNO</a>
            </button>
        </ng-container>
        <ng-container *appPermisosUsuario="'Especialista'">
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="mis-turnos-especialista">MIS TURNOS</a>
            </button>
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="mis-horarios">MIS HORARIOS</a>
            </button>
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="patients-section">PACIENTES</a>
            </button>
        </ng-container>
        <ng-container *appPermisosUsuario="'Admin'">
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="listado-turnos">TURNOS</a>
            </button>
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="solicitar-turno">SOLICITAR TURNO</a>
            </button>
            <button class="btn-head" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="showAside = false">
                <a routerLink="administration">ADMINISTRACIÓN</a>
            </button>
        </ng-container>
        <button class="btn-head" (click)="logOut(); showAside = false">
            <a routerLink="login">CERRAR SESIÓN</a>
        </button>
</aside>
        <router-outlet #outlet="outlet"></router-outlet>
    </main>
</div>