<div id = "principal-container">
    <section>
        <div id = "table-users-container" *ngIf = "showTable">
            
            <div id = "btn-filter-users-container">
                <button class = "btn-filter-users" [class.selected]="selectedFilter === 'Paciente'" (click) = "selectFilter('Paciente')">PACIENTES</button>
                <button class = "btn-filter-users" [class.selected]="selectedFilter === 'Especialista'" (click) = "selectFilter('Especialista')">ESPECIALISTAS</button>
                <button class = "btn-filter-users" [class.selected]="selectedFilter === 'Admin'" (click) = "selectFilter('Admin')">ADMINISTRADORES</button>
                <button class = "btn-filter-users" [class.selected]="selectedFilter === 'Especialidades'" (click) = "selectFilter('Especialidades')">ESPECIALIDADES</button>
                
                <button class = "btn-open-register" (click) = "showContainer('register')" ><img class = "img-add-user"src= "/images/addUser.png"></button>
            </div>
            <table *ngIf="!loading && (selectedFilter === 'Paciente' || selectedFilter === 'Admin')">
                <thead>
                    <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Documento</th>
                    <th *ngIf = "selectedFilter === 'Paciente'">Obra social</th>
                    <th>Perfil</th>
                    <th *ngIf = "selectedFilter != 'Admin'">Autorización</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersList">
                    <td>{{ user.nameUser }}</td>
                    <td>{{ user.lastnameUser }}</td>
                    <td>{{ user.emailUser }}</td>
                    <td>{{ user.ageUser }}</td>
                    <td >{{ user.documentUser }}</td>
                    <td *ngIf = "selectedFilter === 'Paciente'">{{ user.socialWorkUser }}</td>
                    <td>{{ user.profile }}</td>
                    <td *ngIf = "selectedFilter != 'Admin'"><button class="btn-autorizate-user btn-delete-user"><img class = "img-delete-user"src = "/images/deleteUser.png"></button></td>
                    
        
                    </tr>
                </tbody>
            </table>
       <table *ngIf="!loading && selectedFilter === 'Especialista'">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
            <th>Documento</th>
            <th>Especialidades</th>
            <th>Perfil</th>
            <th>Estado</th>
            <th id="th-autorization">Autorización</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of usersList">
            <td>{{ user.nameUser }}</td>
            <td>{{ user.lastnameUser }}</td>
            <td>{{ user.emailUser }}</td>
            <td>{{ user.ageUser }}</td>
            <td>{{ user.documentUser }}</td>
            <td >
                <div class = "td-specialities">
                    <div *ngFor="let spec of user.specialities" >
                    {{ spec.name }}
                    </div>

                </div>
            </td>

            <td>{{ user.profile }}</td>

            @if (user.autorization == true) {
                <td>Autorizado</td>
            }
            @if (user.autorization == false) {
                <td>Sin autorizar</td>
            }

            <td id="td-autorizate-user">
                <button class="btn-autorizate-user btn-delete-user">
                <img class="img-delete-user" src="/images/deleteUser.png">
                </button>

                @if (user.autorization == false) {
                <button
                    class="btn-autorizate-user btn-accept-user"
                    (click)="autorizateUser(user.uid)"
                >
                <img class="img-accept-user" src="/images/autorizateUser.png">

                </button>
                }
            </td>
            </tr>
        </tbody>
        </table>
        
       <div class="specialities-container" *ngIf="!loading && selectedFilter == 'Especialidades'">
        <div *ngFor="let speciality of specialitiesList">
            <div class = "specialities-img-container">

                <p>{{ speciality.name }}</p>
                @if(speciality.specialityImage == "")
                {
                    <img src = "/images/defaultImageSpeciality.png" width="170" height="170"/>

                }
                @if(speciality.specialityImage != "")
                {
                    <img [src]="speciality.specialityImage" width="170" height="170"/>

                }
                
                
                <input 
                type="file" 
                accept="image/*" 
                (change)="onFileSelectedSpeciality($event, speciality.name)" 
                hidden 
                #fileInput>
                
                <button (click)="fileInput.click()" >Subir logo</button>
            </div>
        </div>
        </div>
         <div *ngIf="loading" class="spinner-container" style="display:flex; justify-content:center; align-items:center; height:100px; margin-top: 8%;">
            <svg
                width="80"
                height="80"
                viewBox="0 0 50 50"
                xmlns="http://www.w3.org/2000/svg"
                stroke="#3498db"
            >
                <g fill="none" fill-rule="evenodd" stroke-width="4" >
                <circle cx="25" cy="25" r="20" stroke-opacity="0.2"/>
                <path d="M45 25c0-11.046-8.954-20-20-20">
                    <animateTransform
                    attributeName="transform"
                    type="rotate"
                    from="0 25 25"
                    to="360 25 25"
                    dur="1s"
                    repeatCount="indefinite"/>
                </path>
                </g>
            </svg>
        </div>
    </div>
  

        
    <div id = "register-users-section" *ngIf = "showRegister">
         <form>
            
          
            <div>
                <button type="button" (click)="openInput()"><img *ngIf = "imagesPreview.length == 0"src = "/images/imagenUsuario.png" class = "img-user"><img *ngIf = "imagesPreview.length > 0"[src] = "imagesPreview[0]" class = "img-user"></button>

                <button *ngIf = "imagesPreview.length > 0" (click) = "showPhotos = true">Ver imágenes</button>
                <p *ngIf = "imagesPreview.length == 0">Subir foto de perfil.</p>
            </div>
            <div>
                
                    <input type="text" class="inputs-form shorts-inputs" placeholder="Nombre" [(ngModel)]="nameUser" name="nameUser" autocomplete="off">
                    <input type="text" class="inputs-form shorts-inputs" placeholder="Apellido" [(ngModel)]="lastNameUser" name="lastNameUser" autocomplete="off">
                    <input type="text" class="inputs-form shorts-inputs" placeholder="Edad" [(ngModel)]="ageUser" name="ageUser" autocomplete="off">
                
            </div>
            <div>
                
                    <input type="text" class="inputs-form shorts-inputs" placeholder="N° de documento" [(ngModel)]="documentUser" name="document" autocomplete="off">
                    <input type="text" class="inputs-form shorts-inputs" autocorrect="off" placeholder="Correo electrónico" [(ngModel)] = "emailUser" name="email" autocomplete="off">
                    <input type="password" class="inputs-form shorts-inputs" autocorrect="off" placeholder="Contraseña"[(ngModel)] = "passwordUser" name="password" autocomplete="off">
            </div>
           
            <input type="file" id = "input-file" hidden  (change)="onFileSelected($event)" multiple/>
            
            <button (click) = "showCaptcha = true" class = "btn-register">REGISTRAR</button>
            
            <div *ngIf = "showPhotos">
                <div>
                    <img [src] = "imagesPreview[0]">
                    <img [src] = "imagesPreview[1]" *ngIf = "imagesPreview.length > 1">

                </div>
                <button (click) = "showPhotos = false">Aceptar</button>
                <button (click) = "imagesPreview.length = 0; showPhotos = false" >Cancelar</button>
            </div>
            <button (click)="showRegister = false; showTable = true" class = "btn-back">
                <img class="arrow-img" src="/images/backArrow.png">
            </button>
        </form>
        
    </div>
     <div class="captcha-container" *ngIf = "showCaptcha">
        <h2>Verificación CAPTCHA</h2>
        <p>¿Cuánto es {{ num1 }} + {{ num2 }}?</p>

        <input
            type="text"
            [(ngModel)]="respuesta"
            placeholder="Tu respuesta"
            id = "input-captcha"
        />

        <button (click)="verificarCaptcha()" class = "btn-captcha">Verificar</button>

        <p [style.color]="colorMensaje">{{ mensaje }}</p>
        </div>
     
     <button (click) = "exportExcel()" *ngIf = "selectedFilter == 'Paciente' || selectedFilter == 'Especialista'">Exportar a Excel<img src = "/images/excelIcon.png"></button>
    </section>

</div>