
    <div class = "form-book-appointment"*ngIf = "!showAppointment">
      <div id = "specialist-users-container">
          <div>
            <select [(ngModel)]="specialitySelected" (change)="filterSpecialist()">
                <option value="" disabled selected hidden>Seleccione una especialidad</option>
        
                <option value="">Todas las especialidades</option>
                <option *ngFor="let specialist of specialitiesList" [value]="specialist">
                  {{ specialist }}
                </option>
            </select>
          </div>
          <div>
            <table *ngIf="specialistsList.length > 0">
             <thead>
               <tr>
                 <th>Especialista</th>
                 <th>Nombre</th>
                 <th>Apellido</th>
                 <th>Especialidad</th>
                 <th>Solicitar</th>
               </tr>
             </thead>
 
             <tbody *ngIf="!isLoading">
               <tr *ngFor="let specialist of specialistsList">
                 <td>
                   <img [src]="specialist.imageSelected" alt="Especialista" width="50">
                 </td>
                 <td>{{ specialist.nameUser }}</td>
                 <td>{{ specialist.lastnameUser }}</td>
                 <td>
                   {{ specialitySelected || specialist.specialityName }}
                 </td>
 
                 <td>
                   <button class="btn-book" (click)="showContainer('solicitud', specialist, specialist.specialityName)">
                     <img class="img-book" src="/images/book.png" alt="Solicitar turno">
                   </button>
                 </td>
               </tr>
             </tbody>
           </table>
          </div>
            <div *ngIf="isLoading" class="spinner-container" style="display:flex; justify-content:center; align-items:center; height:100px;">
                <svg
                    width="80"
                    height="80"
                    viewBox="0 0 50 50"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="#3498db"
                >
                    <g fill="none" fill-rule="evenodd" stroke-width="4" >
                    <circle cx="25" cy="25" r="20" stroke-opacity="0.2"/>
                    <path d="M45 25c0-11.046-8.954-20-20-20">
                        <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="1s"
                        repeatCount="indefinite"/>
                    </path>
                    </g>
                </svg>
            </div>
        </div>

</div>
<div class="book-appointment-container" *ngIf="showAppointment">

 
  <div>
    <p class="p-info-specialist">
      {{ specialistSelected.nameUser }} {{ specialistSelected.lastnameUser }}
    </p>
    <p class="p-info-specialist">{{ specialitySelected }}</p>
  </div>


  <div>
    <p class="p-choice">Elegí un día:</p>
    <div class="date-buttons">
      <button 
        *ngFor="let day of daysAvailable" 
        (click)="selectDay(day)"
        class="btn-select-day"
        [class.selected]="selectedDay?.date === day.date">
        {{ day.date }}
      </button>
    </div>
  </div>

 
  <div *ngIf="selectedDay">
    <p class="p-choice">Elegí un horario:</p>
    <div class="hour-buttons">
      <button 
        *ngFor="let hour of hoursAvailable" 
        (click)="selectedHour = hour"
        class="btn-select-day"
        [class.selected]="selectedHour === hour">
        {{ hour }}
      </button>
    </div>
  </div>


  <div>
    <button class="btn-cancel-book" (click)="showAppointment = false; specialitySelected = ''">
              <img class = "img-book"src = "/images/declineBook.png">

    </button>
    <button 
      class="btn-finish-book" 
      (click) = "bookAppointment(); ; specialitySelected = ''"
      [disabled]="!selectedDay || !selectedHour">
        <img class = "img-book"src = "/images/acceptBook.png">

    </button>
  </div>

</div>
