
  <div class = "form-book-appointment"*ngIf = "!showAppointment && !specialistSelected">

    
    <div class = "table-users-container" style = "background-color: rgb(255, 255, 255, 0.8); height: 700px; width: 100%;border-radius: 5px; border: 2px solid #1F2937;"*ngIf = "user?.profile == 'Admin' && !patientSelected">
            <table >
                <thead>
                    <tr>
                    <th>Paciente</th>

                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Documento</th>
                    <th >Obra social</th>
                    <th>Perfil</th>
                    <th >Agendar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of usersList">
                    <td> <img [src] = "patient.imageSelected" class = "img-patient"></td>
                    <td>{{ patient.nameUser }}</td>
                    <td>{{ patient.lastnameUser }}</td>
                    <td>{{ patient.emailUser }}</td>
                    <td>{{ patient.ageUser }}</td>
                    <td >{{ patient.documentUser }}</td>
                    <td >{{ patient.socialWorkUser }}</td>
                    <td>{{ patient.profile }}</td>
                    <td><button class="btn-book" (click)="patientSelected = patient">
                            <img class="img-book" src="/images/book.png" alt="Solicitar turno">
                          </button></td>
                    </tr>
                </tbody>
            </table>
             <div *ngIf="isLoading" class="spinner-container">
                <svg width="80" height="80" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" stroke="#3498db">
                  <g fill="none" stroke-width="4">
                    <circle cx="25" cy="25" r="20" stroke-opacity="0.2"/>
                    <path d="M25 5a20 20 0 0 1 0 40" stroke="#3498db" stroke-linecap="round">
                      <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="1s"
                        repeatCount="indefinite"/>
                    </path>
                  </g>
                </svg>
          </div>
    </div>



      <div id = "specialist-users-container" *ngIf = "patientSelected || user?.profile != 'Admin'">
          <div class = "scroll-speacialists-container">
              <div class = "specialist-list-container"> 
                  <div *ngFor = "let specialist of specialistsList">
                      <div class = "specialists-container">
                        <div>
                          <img [src] = "specialist.imageSelected" class = "img-specialist">
                          <p class = "p-name-specialist">{{specialist.nameUser | nombreFormateado}}</p>
                        </div>
                        <div>
                          <button class="btn-book" (click)="showContainer('solicitud', specialist, specialist.specialityName); specialistSelected = specialist">
                            <img class="img-book" src="/images/book.png" alt="Solicitar turno">
                          </button>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <button class="btn-cancel-book" (click) = "patientSelected = null" style="margin: 16px auto;">
                  <img class = "img-book"src = "/images/declineBook.png">

            </button>
            <div *ngIf="isLoading" class="spinner-container">
                <svg width="80" height="80" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" stroke="#3498db">
                  <g fill="none" stroke-width="4">
                    <circle cx="25" cy="25" r="20" stroke-opacity="0.2"/>
                    <path d="M25 5a20 20 0 0 1 0 40" stroke="#3498db" stroke-linecap="round">
                      <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="1s"
                        repeatCount="indefinite"/>
                    </path>
                  </g>
                </svg>
          </div>
      </div>

</div>

<div class = "specialities-images-container" *ngIf = "specialistSelected && !showAppointment">
  <div>
    <p>{{specialistSelected | nombreFormateado}}</p>

  </div>
  <div  class = "nd-specialities-images-container">
    <div *ngFor = "let speciality of specialistSelected.specialities">
        <div class = "specialities-specialist-selected-container">
          @if(speciality.specialityImage != "")
          {
            <img [src] = "speciality.specialityImage" width="200" height="200" (click) = "showAppointment = true; specialitySelected = speciality">
          }
          @if(speciality.specialityImage == "")
          {
            <img src = "/images/defaultImageSpeciality.png" width="200" height="200" (click) = "showAppointment = true; specialitySelected = speciality">
            
          }
          <p>{{speciality.name}}</p>
        </div>
    </div>
    
  </div>
  <div>
      <button class="btn-cancel-book btn-cancel-book-2" (click)="showAppointment = false; specialitySelected = ''; specialistSelected = ''">
            <img class = "img-book"src = "/images/declineBook.png">

      </button>
    </div>
</div>

<div class="book-appointment-container" *ngIf="showAppointment">

 
  <div>
    <p class="p-info-specialist">
      {{ specialistSelected | nombreFormateado }}
    </p>
    <p class="p-info-specialist">{{ specialitySelected.name }}</p>
  </div>


  <div>
    <p class="p-choice">Elegí un día:</p>
    <div class="date-buttons">
      <button 
        *ngFor="let day of daysAvailable" 
        (click)="selectDay(day)"
        class="btn-select-day"
        [class.selected]="selectedDay?.date === day.date">
        {{ day.date }}
      </button>
    </div>
  </div>

 
  <div *ngIf="selectedDay">
    <p class="p-choice">Elegí un horario:</p>
    <div class="hour-buttons">
      <button 
        *ngFor="let hour of hoursAvailable" 
        (click)="selectedHour = hour"
        class="btn-select-day"
        [class.selected]="selectedHour === hour">
        {{ hour }}
      </button>
    </div>
  </div>


  <div>
    <button class="btn-cancel-book" (click)="showAppointment = false; specialitySelected = ''; specialistSelected  = ''; hoursAvailable = []">
              <img class = "img-book"src = "/images/declineBook.png">

    </button>
    <button 
      class="btn-finish-book" 
      (click) = "bookAppointment(); ; specialitySelected = '';  specialistSelected  = ''; hoursAvailable = []"
      [disabled]="!selectedDay || !selectedHour">
        <img class = "img-book"src = "/images/acceptBook.png">

    </button>
  </div>

</div>
