.form-book-appointment {
  margin: 1% auto;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
    
   height: 800px;
}



.table-users-container
{
    background-color: rgb(255, 255, 255, 0.8);
    min-height: 700px;

    border-radius: 5px;
    margin-top: 5%;
    width: 100%;
    padding: 20px;
   
    height: 750px;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    overflow-y: auto;
    overflow-x: hidden;
   
}

.scroll-speacialists-container

th, td
{
    padding: 10px;
    font-size: clamp(0.8rem, 1vw, 5rem);
    border-radius: 5px;
    color: #1F2937;
    text-align: center;
    background-color: 	#E0E0DF ;
}

td
{
    min-height: 100px;
    max-height: 100px; 
    overflow-y: auto;  
    overflow-x: hidden;
}

.img-patient
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


table
{
    background-color: #F4F4F3;
    border-radius: 10px;
    padding: 1%;
}

td > button
{
    width: 220px;
    margin: 0 auto;
}

.specialist-list-container
{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
  

    height: 100%;

    
}

.scroll-speacialists-container
{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    justify-content: space-evenly;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
}


.img-specialist
{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #1F2937;
}

.p-name-specialist
{
    text-align: center;
    color: white;
     font-size: clamp(0.8rem, 2.5vw, 2rem);
    padding: 0;
    margin: 10px 0;
}

.img-book
{
    width: 100%;
 
    border-radius: 5px;
}
.specialists-container
{
    width: 300px;
    height: auto;
    border: 2px solid #1F2937;
    border-radius: 10px;
    background-color: #1e3049;
    margin: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




select
{
    width: 100%;
    height: 100%;
    border: none;
   
    text-align: center;
    font-size: clamp(0.8rem, 3vw, 2rem);
    border-radius: 3px 3px  0 0;
    
    appearance: none;          
    -webkit-appearance: none;  
    -moz-appearance: none;  
    color: #F4F4F3;
    background-color: #1F2937;
    cursor: pointer;
}



select:focus
{
    outline: none;
}

#specialist-users-container {
  
    width: 100%;
   
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 80%; 
    background-color: rgb(255, 255, 255,0.8);
    padding: 16px;
    border: 2px solid #1F2937;

}

::-webkit-scrollbar {
  width: 10px;              
  height: 10px;            
}

::-webkit-scrollbar-track {
  background: #f1f1f1;      
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1F2937;     
  border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #415b93;      
}

th, td
{
    padding: 10px;
    border: 1px solid #1F2937;
    border-radius: 5px;
    color: #1F2937;
    text-align: center;
    background-color: 	white ;
     font-size: clamp(1rem, 1vw, 1.5rem);
}




table
{
    background-color:transparent;
    padding: 1%;
    width: 100%;
    
}



.btn-book
{
    background-color: #86e99d;
    height: 100%;
    width: 300px;
    font-size: clamp(0.5rem, 2vw, 1.4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid green;
}

.btn-book:hover
{
    background-color: #4ae46e;

}

button
{
    border: none;
    cursor: pointer;
}

.spinner-container
{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}


.btn-select-speciality
{
    background-color: #2B2F3B;
    color: #F4F4F3;
    height: 80px;
    width: 40%;
    border-radius: 10px;
    font-size: clamp(0.5rem, 3vw, 1.4rem);

}

.btn-cancel-book
{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(250, 200, 200);
    border: 2px solid red;

    color: #E0E0DF;
    font-size: clamp(0.5rem, 3vw, 1.4rem);
}

.btn-finish-book
{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    background-color: #b6f3c4;
    border: 2px solid #30bb50;
    color: #E0E0DF;
    font-size: clamp(0.5rem, 3vw, 1.4rem);
}

.selected {
  background-color: #1F2937;
  color: white;
  font-weight: bold;
}



.p-info-specialist
{
    color: #1F2937;
    font-size: clamp(3rem, 3vw, 1.5rem);
    padding: 0;
    margin: 0;
}

.book-appointment-container
{   
  
    height: 80%;
    width: 900px;
  
    background-color: rgb(255, 255, 255,0.8);
  
    border: 1px solid #2B2F3B;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43%;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}


.book-appointment-container > div:nth-child(1)
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}


.book-appointment-container > div:nth-child(2)
{
    height: 30%;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-book
{
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.book-appointment-container > div:nth-child(3)
{
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.book-appointment-container > div:nth-child(4)
{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.p-choice
{
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: center;
    color: #1F2937;
    padding: 0;
    margin: 0;
}






.btn-select-day
{
    height: 60px;
    margin: 5px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #1F2937;
     font-size: clamp(0.5rem, 3vw, 1rem);
}

.specialities-images-container
{
    height: 70%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #1F2937;
    border-radius: 5px;
}
.specialities-images-container > div:nth-child(1) > p
{
    text-align: center;
    font-size: clamp(3rem, 3vw, 1rem);
    color: #1F2937;
}
.btn-cancel-book-2{
    width: 300px;
}
.nd-specialities-images-container
{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nd-specialities-images-container div
{
    width: auto;
    height: 10px;
    height:  auto;

    padding: 16px;
}

.specialities-specialist-selected-container img
{
    border-radius: 50%;
    border: 2px solid #1F2937;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.specialities-specialist-selected-container img:hover
{
    transform: scale(1.08);
    border: 3px solid #17191b;
}

.specialities-specialist-selected-container p
{
    font-size: clamp(1.5rem, 3vw, 1rem);
    text-align: center;
    color: #1F2937;
}


.date-buttons
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.hour-buttons
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
}