.form-book-appointment {
  margin: 1% auto;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 
   height: 800px;


  
}


.form-book-appointment > div:nth-child(1)
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    background-color: #1F2937;

    
}


#specialist-users-container> div:nth-child(1)::after {
  content: "▼";              
  position: absolute;
  top: 50%;
  right: 0.7em;
  transform: translateY(-50%);
  pointer-events: none;       
  color: white;             
  font-size: 0.8em;
}


select
{
    width: 100%;
    height: 100%;
    border: none;
   
    text-align: center;
    font-size: clamp(0.8rem, 3vw, 2rem);
    border-radius: 3px 3px  0 0;

    appearance: none;          
    -webkit-appearance: none;  
    -moz-appearance: none;  
    color: #F4F4F3;
    background-color: #1F2937;
    cursor: pointer;
}

#specialist-users-container> div:nth-child(1)
{
    background-color: #1F2937;
    min-height: 80px;
    width: 100%;
    border-radius: 5px 5px  0 0;
    position: relative;
}

#specialist-users-container> div:nth-child(2)
{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    


}
select:focus
{
    outline: none;
}

#specialist-users-container {
  
    width: 100%;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 70%; 
    background-color: rgb(255, 255, 255,0.8);

    border: 2px solid #1F2937;
  
}


th, td
{
    padding: 10px;
    border: 1px solid #1F2937;
    border-radius: 5px;
    color: #1F2937;
    text-align: center;
    background-color: 	white ;
     font-size: clamp(1rem, 1vw, 1.5rem);
}




table
{
    background-color:transparent;
    padding: 1%;
    width: 100%;
    
}

img
{
      height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.btn-book
{
    background-color: #86e99d;
    height: 100%;
    width: 100%;
    font-size: clamp(0.5rem, 2vw, 1.4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid green;
}

.btn-book:hover
{
    background-color: #4ae46e;

}

button
{
    border: none;
    cursor: pointer;
}

.spinner-container
{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}


.btn-select-speciality
{
    background-color: #2B2F3B;
    color: #F4F4F3;
    height: 80px;
    width: 40%;
    border-radius: 10px;
    font-size: clamp(0.5rem, 3vw, 1.4rem);

}

.btn-cancel-book
{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(250, 200, 200);
    border: 2px solid red;

    color: #E0E0DF;
    font-size: clamp(0.5rem, 3vw, 1.4rem);
}

.btn-finish-book
{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    background-color: #b6f3c4;
    border: 2px solid #30bb50;
    color: #E0E0DF;
    font-size: clamp(0.5rem, 3vw, 1.4rem);
}

.selected {
  background-color: #1F2937;
  color: white;
  font-weight: bold;
}



.p-info-specialist
{
    color: #1F2937;
    font-size: clamp(3rem, 3vw, 1.5rem);
    padding: 0;
    margin: 0;
}

.book-appointment-container
{   
  
    height: 80%;
    width: 900px;
    
    background-color: rgb(255, 255, 255,0.8);
    border: 1px solid #2B2F3B;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 43%;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}


.book-appointment-container > div:nth-child(1)
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}


.book-appointment-container > div:nth-child(2)
{
    height: 30%;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-book
{
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.book-appointment-container > div:nth-child(3)
{
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.book-appointment-container > div:nth-child(4)
{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.p-choice
{
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: center;
    color: #1F2937;
    padding: 0;
    margin: 0;
}






.btn-select-day
{
    height: 60px;
    margin: 5px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #1F2937;
     font-size: clamp(0.5rem, 3vw, 1rem);
}

.date-buttons
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.hour-buttons
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
}