<div class = "principal-container"  *ngIf = "user">
    <div >
            <div>
                <button class = "btn-img-user"><img [src] = "user?.imagesUser[0]"></button>
            </div>
            <div>
                <p class = "p-name-user">{{user.nameUser}} {{user.lastnameUser}}</p>
            </div>
            
    </div>
    <div>

            <p class = "p-data-user">Correo electrónico:<br>{{user.emailUser}}</p>
            <p class = "p-data-user">Documento:<br>{{user.documentUser}}</p>
            <p class = "p-data-user">Edad:<br>{{user.ageUser}} años.</p>
            <p class = "p-data-user" *ngIf = "user.profile == 'Paciente'">Obra social:<br>{{user.socialWorkUser}}</p>
            
    </div>
    <div >
        <p>
            @if(user.profile == 'Admin')
            {
                Administrador
            }
            @if(user.profile != 'Admin')
            {
                {{user.profile}}
            }


        </p>
            
        <button class = "btn-download" *ngIf = "user.profile == 'Paciente'"><!-- download-white.svg -->
            <p>Historia clínica</p>
                <svg xmlns="http://www.w3.org/2000/svg"
                    width="64" height="64"
                    viewBox="0 0 24 24"
                    role="img" aria-label="Descargar" fill="none">
                <!-- Bandeja -->
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                        stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
                <!-- Flecha hacia abajo -->
                <path d="M12 3v10"
                        stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8 9l4 4 4-4"
                        stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
        </button>
    </div>
</div>