*
{
        font-family: 'Inter', sans-serif;
}


.principal-container
{
    width: 70%;
    margin: 3% auto;
    height: 700px;
    background-color: rgb(255, 255, 255, 0.8);
    border: 2px solid #1F2937;
    border-radius: 5px;
    
}

#filters-container
{
    
  
    width: 100%;
    height: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    background-color: rgb(255, 255, 255,0.8);
    border: 2px solid #1F2937;
    animation: showFilter 200ms ease forwards;
    overflow-y: auto;
    font-size: clamp(0.8rem, 1vw, 3rem);
    border-radius: 5px;
    padding: 0 16px 0 0;
    gap: 16px;
}

.input-filter-container
{
    
    background-color: white;
 
    max-width: 900px;
    border: 2px solid #1F2937;
    border-radius: 10px;
    height: auto;

    margin: 2% auto;
    position: relative;
    

}

.input-filter-container input
{
    width: 95%;
    border: none;
    border-radius: 10px;
    height: 55px;
    padding-left: 10px;
    font-size: clamp(0.95em, 0.95vw, 3rem);
    
}

.input-filter-container img
{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 5px;
    border: none;
}

input:focus
{
    outline: none;
}
.table-container
{

    height: 100%;
}
.table-container > div:nth-child(1)
{
    height: 73.5%;
   
    overflow-y: auto;
    border-bottom: 2px solid #1F2937;
}
.btn-download {
  transition: transform 0.1s ease-in-out;
}
.table-container > div:nth-child(2)
{
    height: 10%;
    display: flex;
    justify-content:start;
    align-items: center;
    margin-left: 10px;
}

.table-container > div:nth-child(2) > button
{
    height: 55px;
    width: 120px;
    background-color: transparent;
    background-color: #1F2937;
    color: white;
    border-radius: 5px;
    font-size: clamp(1rem, 1.5vw, 1.5rem);


}

table
{
    background-color:transparent;
    padding: 1%;
    width: 100%;
    height: auto;
    
}
th, td
{
    padding: 10px;
    border: 1px solid #1F2937;
    border-radius: 5px;
    color: #1F2937;
    text-align: center;
    background-color: 	white ;
     font-size: clamp(1rem, 1vw, 1.5rem);
    
}
.principal-container > div
{
    width: 100%;
  

    
}

img
{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    transition: transform 0.5s ease;
    border: 2px solid #1F2937;
    
}

button
{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
}

.btn-img-user
{
    background-color: transparent;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

img:hover
{
    transform: scale(1.1);
}

.div-1 > div:nth-child(1)
{
    width: 40%;
    display: flex;
    justify-content: center;
}

.div-1 > div:nth-child(2)
{
    display: flex;
    justify-content: start;
    width: 60%;
}



.div-1
{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #1F2937;
    height: 35%;
}

.principal-container > div:nth-child(3)
{
  
    position: relative;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-container > div:nth-child(3) > p
{
    font-size: clamp(3rem, 2.5vw, 3rem);

}

.div-2
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    height: 50%;
    border-bottom: 2px solid #1F2937;
}
p
{
    color: #1F2937;
}

.p-name-user
{
    font-size: clamp(1rem, 2.5vw, 3rem);
    padding: 0;
    margin: 0 62px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.p-data-user
{
    font-size: clamp(1rem, 1.5vw, 3rem);
    letter-spacing: 2px;
    text-align: center;
}


svg
{
    height: 30px;
    width: 30px;
    
}


.btn-show-medical-history
{
    width: 260px;
    height: 60px;
    background-color: #1F2937;
 
    display: flex;
    justify-content:  center;
    align-items: center;
    gap: 8px;
    font-size: clamp(1.3rem, 1.5vw, 1rem);
    position: absolute;
    right: 18px;
    top: 18px;
    color: white;
    
}
.img-specialist
{
    height: 90px;
    width: 90px;
}
.btn-download
{
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    padding: 0 16px;
    height: 55px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    gap: 6px;
}





