*
{
        font-family: 'Inter', sans-serif;
}


.principal-container
{
    width: 70%;
    margin: 3% auto;
    height: 700px;
    background-color: rgb(255, 255, 255, 0.8);
    border: 2px solid #1F2937;
    border-radius: 5px;
}

.principal-container > div
{
    width: 100%;
  

    
}

img
{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    transition: transform 0.5s ease;
    border: 2px solid #1F2937;
    
}

button
{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
}

.btn-img-user
{
    background-color: transparent;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

img:hover
{
    transform: scale(1.1);
}

.principal-container > div:nth-child(1) > div:nth-child(1)
{
    width: 40%;
    display: flex;
    justify-content: center;
}

.principal-container > div:nth-child(1) > div:nth-child(2)
{
    display: flex;
    justify-content: start;
    width: 60%;
}



.principal-container > div:nth-child(1) 
{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #1F2937;
    height: 35%;
}

.principal-container > div:nth-child(3)
{
  
    position: relative;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-container > div:nth-child(3) > p
{
    font-size: clamp(3rem, 2.5vw, 3rem);

}

.principal-container > div:nth-child(2)
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    height: 50%;
    border-bottom: 2px solid #1F2937;
}
p
{
    color: #1F2937;
}

.p-name-user
{
    font-size: clamp(1rem, 2.5vw, 3rem);
    padding: 0;
    margin: 0 62px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.p-data-user
{
    font-size: clamp(1rem, 1.5vw, 3rem);
    letter-spacing: 2px;
    text-align: center;
}


svg
{
    height: 40px;
    width: 40px;
}


.btn-download
{
    width: 260px;
    height: 60px;
    background-color: #1F2937;
 
    display: flex;
    justify-content:  center;
    align-items: center;
    gap: 8px;
    font-size: clamp(1.3rem, 1.5vw, 1rem);
    position: absolute;
    right: 18px;
    top: 18px;
    
}

.btn-download > p
{
    color: white;
}



