.principal-container {
  border-radius: 5px;
  margin: 5% auto;
  height: 600px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #1F2937;
  display: flex;
  flex-direction: column;
}

.header-container {
  flex-shrink: 0;
  background-color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #1F2937;
}
.scroll-container {
  flex-grow: 1;
  overflow-y: auto;
}



h2
{
  font-size: clamp(1.3rem, 2vw, 3rem);
  color: #1F2937;
  text-align: center;
}

.btn-save-work-hour {
  height: 55px;
  width: 300px;
  border: none;
  background-color: #1f2937;
  color: white;
  border-radius: 5px;
  font-size: clamp(1.3rem, 1.1vw, 3rem);
  cursor: pointer;
}

.times-specialities-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.times-specialities-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}

.principal-container > div:nth-child(1)
{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white; /* o el color que quieras de fondo */
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #1F2937;
}




p {
  color: #1f2937;
  font-size: clamp(1.3rem, 1.5vw, 3rem);
}

  
   


input {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  font-size: clamp(1rem, 1.5vw, 3rem);
  border: 1px solid #1f2937;
  color: #1f2937;
  border-radius: 5px;
}

