<div id="principal-container">
  <header>
    <div class="head-containers">
      <img src="/images/logoClinica.png" />
      <h1>Clínica Online</h1>
    </div>
    <div class="head-containers login-register">
      <button (click)="goTo('welcome')">INICIO</button>
      <button (click)="goTo('register')">REGISTRARSE</button>
      <button (click)="goTo('login')">INICIAR SESIÓN</button>
    </div>
  </header>

  <section>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h2>INGRESO</h2>

      <div>
        <input
          type="text"
          class="inputs-form"
          placeholder="Correo electrónico"
          formControlName="emailUser"
          autocomplete="off"
        />
        <input
          type="password"
          class="inputs-form"
          placeholder="Contraseña"
          formControlName="passwordUser"
          autocomplete="off"
        />
        <button type="submit">INGRESAR</button>
      </div>

      <div>
        <p>{{ textUserChoice }}</p>
      </div>
    </form>

    <div>
      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'kihexap660@exitbit.com', passwordUser:'martin'}); textUserChoice='Administrador'"
      >
        <img [class.active]="textUserChoice === 'Administrador'" class="img-users" src="/images/adminIcon.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'momefew102@elygifts.com', passwordUser:'martin'}); textUserChoice='Especialista 1'"
      >
        <img [class.active]="textUserChoice === 'Especialista 1'" class="img-users" src="/images/especialistaIcon.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'wevipo9312@datoinf.com', passwordUser:'martin'}); textUserChoice='Especialista 2'"
      >
        <img [class.active]="textUserChoice === 'Especialista 2'" class="img-users" src="/images/niggaIcon.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'sibimov238@dxirl.com', passwordUser:'martin'}); textUserChoice='Paciente 1'"
      >
        <img [class.active]="textUserChoice === 'Paciente 1'" class="img-users" src="/images/pacienteM2.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'nomana2641@dropeso.com', passwordUser:'martin'}); textUserChoice='Paciente 2'"
      >
        <img [class.active]="textUserChoice === 'Paciente 2'" class="img-users" src="/images/pacienteIcon.png" />
      </button>
      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'retorow851@ametitas.com', passwordUser:'martin'}); textUserChoice='Paciente 3'"
      >
        <img [class.active]="textUserChoice === 'Paciente 3'" class="img-users" src="/images/pacienteMIcon.png" />
      </button>
    </div>
  </section>
</div>