<div id="principal-container">
  <header>
    <div class="head-containers">
      <img src="/images/logoClinica.png" />
      <h1>Clínica Online</h1>
    </div>
    <div class="head-containers login-register">
      <button (click)="goTo('welcome')">INICIO</button>
      <button (click)="goTo('register')">REGISTRARSE</button>
      <button (click)="goTo('login')">INICIAR SESIÓN</button>
    </div>
  </header>

  <section>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <h2>INGRESO</h2>

      <div>
        <input
          type="text"
          class="inputs-form"
          placeholder="Correo electrónico"
          formControlName="emailUser"
          autocomplete="off"
        />
        <input
          type="password"
          class="inputs-form"
          placeholder="Contraseña"
          formControlName="passwordUser"
          autocomplete="off"
        />
        <button type="submit" appBotonAnimado>INGRESAR</button>
      </div>

      <div>
        <p *ngIf = "!isLoading">{{ textUserChoice }}</p>

            <div *ngIf="isLoading" class="spinner-container">
                <svg width="80" height="80" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" stroke="#3498db">
                  <g fill="none" stroke-width="4">
                    <circle cx="25" cy="25" r="20" stroke-opacity="0.2"/>
                    <path d="M25 5a20 20 0 0 1 0 40" stroke="#3498db" stroke-linecap="round">
                      <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="1s"
                        repeatCount="indefinite"/>
                    </path>
                  </g>
                </svg>
          </div>
      </div>

      
    </form>

    <div>
      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'kihexap660@exitbit.com', passwordUser:'martin'}); textUserChoice='Administrador'"
      >
        <img [class.active]="textUserChoice === 'Administrador'" class="img-users" src="/images/adminIcon.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'momefew102@elygifts.com', passwordUser:'martin'}); textUserChoice='Especialista 1'"
      >
        <img [class.active]="textUserChoice === 'Especialista 1'" class="img-users" src="/images/especialistaIcon.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'wevipo9312@datoinf.com', passwordUser:'martin'}); textUserChoice='Especialista 2'"
      >
        <img [class.active]="textUserChoice === 'Especialista 2'" class="img-users" src="/images/niggaIcon.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'sibimov238@dxirl.com', passwordUser:'martin'}); textUserChoice='Paciente 1'"
      >
        <img [class.active]="textUserChoice === 'Paciente 1'" class="img-users" src="/images/pacienteM2.png" />
      </button>

      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'nomana2641@dropeso.com', passwordUser:'martin'}); textUserChoice='Paciente 2'"
      >
        <img [class.active]="textUserChoice === 'Paciente 2'" class="img-users" src="/images/pacienteIcon.png" />
      </button>
      <button
        class="btn-logins"
        (click)="loginForm.patchValue({emailUser:'sodidib337@fantastu.com', passwordUser:'martin'}); textUserChoice='Paciente 3'"
      >
        <img [class.active]="textUserChoice === 'Paciente 3'" class="img-users" src="/images/pacienteMIcon.png" />
      </button>
    </div>
  </section>
</div>